@font-face {
  font-family: Agus Sans;
  src: url(./Assests/fonts/Agus\ Sans\ Regular\ 400.otf);
}

@font-face {
  font-family: Belligia Demo;
  src: url(./Assests/fonts/Belligia\ Demo\ 400.ttf);
}

button {
  border-radius: none;
}

body {
  background-color: #f6ffde;
  padding: 10px;
}

.navbar {
  display: flex;
  /* width: 100%; */
  align-items: center;
  background-color: #f6ffde;
}

.headernavbar {
  display: flex;
}

.headernavbar img {
  width: 200px;
  height: 100px;
}

@media screen and (max-width: 950px) {
  .navbar {
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: nowrap; */
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #363188;
}

.nav-link {
  font-family: "Agus Sans";
  color: #363188;
  font-size: 25px;
}

.menu1 {
  display: flex;
  /* width: 100%; */
  align-items: center;
}

.nav-link a {
  color: #363188;
  text-decoration: none;
  margin-left: 100px;
  font-family: Agus Sans;
  font-size: 25px;
}

.section1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.section1 p {
  width: 40%;
  height: auto;
  font-family: FabfeltScript;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  color: #156fd0;
}

.section1 img {
  width: 30%;
  height: 40%;
}

@media screen and (max-width: 900px) {
  .section1 {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .section1 p {
    width: 100%;
  }
  .section1 img {
    width: 50%;
  }
}

.section2 {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.2s all ease-out;
}

.section2:hover {
  box-shadow: 0px 0px 10px #00000094;
  padding: 20px;
  border: 5px solid #2a71d0;
}

.section2 p {
  width: 50%;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #707070;
}

.section2 img {
  width: 27%;
}

@media screen and (max-width: 900px) {
  .section2 {
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap-reverse;
    box-shadow: 0px 0px 10px #00000094;
  }
  .section2 p {
    width: 100%;
    margin-top: 20px;
  }
  .section2 img {
    width: 50%;
  }
}
