@font-face {
    font-family: Agus Sans;
    src: url(./Assests/fonts/Agus\ Sans\ Regular\ 400.otf);
}

@font-face {
    font-family: Belligia Demo;
    src: url(./Assests/fonts/Belligia\ Demo\ 400.ttf);
}

button {
    border-radius: none;
}

body {
    background-color: #f6ffde;
    padding: 10px;
    width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    /* background-color: #f6ffde; */
}

.headernavbar {
    display: flex;
}

.headernavbar img {
    width: 200px;
    height: 100px;
}

@media screen and (max-width: 950px) {
    .navbar {
        flex-direction: row;
        justify-content: center;
        /* flex-wrap: nowrap; */
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #363188;
}

.nav-link {
    font-family: "Agus Sans";
    color: #363188;
    font-size: 25px;
}

.menu1 {
    display: flex;
    /* width: 100%; */
    align-items: center;
}

.nav-link a {
    color: #363188;
    text-decoration: none;
    margin-left: 100px;
    font-family: Agus Sans;
    font-size: 25px;
}

.footer-line1 {
    margin-top: 20px;
    width: 100%;
    content: " ";
    border: 3px solid #10d13f;
}

.footer-line2 {
    border: 1px solid #02ac8a;
    margin-top: -10px;
    width: 100%;
    content: " ";
}

.footer1 {
    padding: 10px;
}

.footer1-section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer1-text {
    font-family: Arial;
    width: 50%;
    font-weight: bold;
    text-align: left;
    color: #070707;
}

.button1 {
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    color: #f6ffde;
    align-items: center;
    display: flex;
    transition: all 0.3s cubic-bezier(1, 0.25, 0, 0.37);
    justify-content: center;
}

.blue {
    background-color: #156fd0;
    border: 2px solid #156fd0;
}

.rounded1 {
    border-radius: 50px;
}

.footer1-section1-button {
    width: 150px;
    height: 50px;
}

.hover:hover {
    color: #156fd0;
    background-color: transparent;
    border: 2px solid #156fd0;
}

.footer1-section2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    justify-content: space-around;
}

.footer1-section2-1 {
    width: 50%;
    justify-content: center;
}

.footer1-section2-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer1-section2-2 p {
    color: #747474;
}

.bookhotelbtn {
    width: 150px;
    text-decoration: none;
    font-size: 15px;
}

.footer1-section2-1-list {
    list-style-type: none;
    text-decoration: none;
    margin-top: 10px;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
}

.footer1-section3 {
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.footer-logo {
    width: 30px;
    height: 30px;
}

.logo-footer {
    font-family: "Belligia Demo";
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.39em;
    text-align: left;
    color: #156fd0;
    left: 0;
}


.gototop {
    position: fixed;
    bottom: 20px;
    padding: 10px;
    background-color: white;
    right: 25px;
    z-index: 99;
    outline: invert;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    border-radius: 4px;
}

.content {
    margin: 30px 0 0 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content__image img {
    width: 100%;
}

.text__inputs {
    display: flex;
    flex-direction: column;
}

.text__inputs input {
    margin: 10px 0 0 0;
    border: solid;
    border-width: thin;
    outline: none;
    padding: 10px;
}

.text__inputs input:focus {
    border: 2px solid green;
    color: #156fd0;
}

.address__content {
    width: auto;
    display: flex;
    align-items: center;
}

.address__content p {
    width: auto;
    font-family: "Segoe UI";
    font-size: 16px;
    text-align: left;
    color: black;
    margin: 0 0 0 10px;
}

.linkbutton {
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border: solid;
    border-width: thin;
    margin: 10px 0 0 0;
    padding: 5px;
    cursor: pointer;
    transition: 1s all;
    outline: none;
    text-decoration: none;
    color: white;
    background-color: #6e00ec;
}

.linkbutton:hover {
    color: #6e00ec;
    border-radius: 20px;
    background-color: transparent;
}

@media (max-width: 1066px) {
    .address .address__content {
        flex-direction: column;
    }

    .address {
        width: 50%;
    }
}

@media (max-width: 942px) {
    .content {
        width: 100vw;
    }

    .content__2 {
        width: 50%;
        flex-direction: column;
        align-items: center;
    }

    .address__content p {
        font-size: 14px;
    }

    .address {
        margin-top: 50px;
    }
}

@media (max-width: 400px) {
    .content {
        flex-direction: column;
    }
}