.section1parent::before {
   content: "";
   background-image: url('../Assests/covid19image.jpg');
   background-size: cover;
position: absolute;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   opacity: 0.9;
}

.section1parent {
    padding: 10px;
    position: relative;
   width: 100%;
   display: flex;
   flex-direction:column;
   margin-top:50px;
   align-items: center;
   justify-content: center;
}

.section1 p {
    position: relative;
    color: #ffffff;
}

.section1 p:nth-child(1){
    font-size: 20px;
    font-family: Arial;
    font-weight: normal;
    font-style: italic;
}

.section1 p:nth-child(2) {
    font-size: 15px;
    font-family: Arial;
    font-weight: narrow bold;
    font-style: italic;
}

.section2 {
    position: relative
}

.section2 p {
    color: white;
    font-size: 30px
}

.section2 li {
    margin-top: 5px;
    font-family: Arial;
    font-size: 20px;
    color: rgb(187, 255, 0)
}

.footer1 {
    padding: 10px;
}

.footer1-section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer1-text {
    font-family: Arial;
    width: 50%;
    font-weight: bold;
    text-align: left;
    color: #070707;
}

.button1 {
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    color: #f6ffde;
    align-items: center;
    display: flex;
    transition: all 0.3s cubic-bezier(1, 0.25, 0, 0.37);
    justify-content: center;
}

.blue {
    background-color: #156fd0;
    border: 2px solid #156fd0;
}

.rounded1 {
    border-radius: 50px;
}

.footer1-section1-button {
    width: 150px;
    height: 50px;
}

.hover:hover {
    color: #156fd0;
    background-color: transparent;
    border: 2px solid #156fd0;
}

.footer1-section2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    justify-content: space-around;
}

.footer1-section2-1 {
    width: 50%;
    justify-content: center;
}

.footer1-section2-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer1-section2-2 p {
    color: #747474;
}

.bookhotelbtn {
    width: 150px;
    text-decoration: none;
    font-size: 15px;
}

.footer1-section2-1-list {
    list-style-type: none;
    text-decoration: none;
    margin-top: 10px;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
}

.footer1-section3 {
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.footer-logo {
    width: 30px;
    height: 30px;
}

.logo-footer {
    font-family: "Belligia Demo";
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.39em;
    text-align: left;
    color: #156fd0;
    left: 0;
}



.gototop {
    position: fixed;
    bottom: 20px;
    padding: 10px;
    background-color: white;
    right: 25px;
    z-index: 99;
    outline: invert;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    border-radius: 4px;
}

.footer-line1 {
    margin-top: 20px;
    width: 100%;
    content: " ";
    border: 3px solid #10d13f;
}

.footer-line2 {
    border: 1px solid #02ac8a;
    margin-top: -10px;
    width: 100%;
    content: " ";
}

.back {
    position: fixed;
    top: 0px;
    padding: 10px;
    background-color: white;
    left: 0px;
    z-index: 99;
    outline: invert;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.back:hover {
    margin:2px;
    background-color:blue;
    color: white
}