@font-face {
    font-family: Agus Sans;
    src: url(./Assests/fonts/Agus\ Sans\ Regular\ 400.otf);
}

@font-face {
    font-family: Belligia Demo;
    src: url(./Assests/fonts/Belligia\ Demo\ 400.ttf);
}

button {
    border-radius: none;
}

body {
    background-color: #f6ffde;
    padding: 10px;
    width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    /* background-color: #f6ffde; */
}

.headernavbar {
    display: flex;
}

.headernavbar img {
    width: 200px;
    height: 100px;
}

@media screen and (max-width: 950px) {
    .navbar {
        flex-direction: row;
        justify-content: center;
        /* flex-wrap: nowrap; */
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #363188;
}

.nav-link {
    font-family: "Agus Sans";
    color: #363188;
    font-size: 25px;
}

.menu1 {
    display: flex;
    /* width: 100%; */
    align-items: center;
}

.nav-link a {
    color: #363188;
    text-decoration: none;
    margin-left: 100px;
    font-family: Agus Sans;
    font-size: 25px;
}

.section1 {
    margin-left: 10px;
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.section1 p {
    font-family: Arial;
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #156fd0;
    margin-top:20px;
}

.s1image1 {
    width: 300px;
    grid-area: s1;
    height: 300px
}
.s1image2 {
    width: 300px;
    grid-area: s3
}
.s1image3 {
    width: 400px;
    grid-area: s2;

}

.section1_grid {
    display: grid;
    grid-template-areas: "s1 s2"
                        "s3 s2";
    grid-gap: 10px;
}

.s2image1 {
    width: 300px;
    grid-area: r1;
    height: 300px;
}

.s2image2 {
    width: 300px;
    grid-area: r2;
    height: 300px;
}

.s2image3 {
    width: 300px;
    grid-area: r3;
    height: 300px;
}

.s2image4 {
    width: 900px;
    grid-area: r4;
    z-index: 99;
    height: 500px;
}

.section2_grid {
    display: grid;
    grid-template-areas: 
    "r1 r2 r3"
    "r4 r4 r4";
    grid-gap: 10px;
}

.s3image1 {
    width: 300px;
    grid-area: d1;
    height: 300px;
}

.s3image2 {
    width: 300px;
    grid-area: d2;
    height: 300px;
}

.s3image3 {
    width: 600px;
    grid-area: d3;
    height: 300px;
}

.s3image4 {
    width: 300px;
    grid-area: d4;
    z-index: 99;
    height: 500px;
}

.s3image5 {
    width: 300px;
    grid-area: d5;
    z-index: 99;
    height: 500px;
}
.s3image6 {
    width: 600px;
    grid-area: d6;
    height: 500px;
}
.section3_grid {
    display: grid;
    grid-template-areas: 
    "d1 d2"
    "d3 d3"
    "d4 d5"
    "d6 d6";
    grid-gap: 10px;
}

@media screen and (max-width: 850px) {
    .section1_grid {
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .section2_grid {
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        align-items: center;
    }
    .section1_grid img {
        width: 60%;
    }
    .section2_grid img {
        width: 90%
    }
    .section2_grid img:nth-last-child(1) {
        width: 90%;
        height: 400px
    }
    .section3_grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}

.loadmorediv {
    width: 100%;
    padding: 10px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.loadmorediv a {
    border: 2px solid #156fd0;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: all 0.3s;
    border-radius: 10px;
    background-color: #156fd0;
}

.loadmorediv a:hover {
    background-color: white;
    color: #156fd0;
    border-radius: 3px 20px;
}

@media (max-width: 800px) {
    .story2_inner p:nth-child(2) {
        line-height: 25px;
    }
}

.footer-line1 {
    margin-top: 20px;
    width: 100%;
    content: " ";
    border: 3px solid #10d13f;
}

.footer-line2 {
    border: 1px solid #02ac8a;
    margin-top: -10px;
    width: 100%;
    content: " ";
}

.footer1 {
    padding: 10px;
}

.footer1-section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer1-text {
    font-family: Arial;
    width: 50%;
    font-weight: bold;
    text-align: left;
    color: #070707;
}

.button1 {
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    color: #f6ffde;
    align-items: center;
    display: flex;
    transition: all 0.3s cubic-bezier(1, 0.25, 0, 0.37);
    justify-content: center;
}

.blue {
    background-color: #156fd0;
    border: 2px solid #156fd0;
}

.rounded1 {
    border-radius: 50px;
}

.footer1-section1-button {
    width: 150px;
    height: 50px;
}

.hover:hover {
    color: #156fd0;
    background-color: transparent;
    border: 2px solid #156fd0;
}

.footer1-section2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    justify-content: space-around;
}

.footer1-section2-1 {
    width: 50%;
    justify-content: center;
}

.footer1-section2-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer1-section2-2 p {
    color: #747474;
}

.bookhotelbtn {
    width: 150px;
    text-decoration: none;
    font-size: 15px;
}

.footer1-section2-1-list {
    list-style-type: none;
    text-decoration: none;
    margin-top: 10px;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
}

.footer1-section3 {
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.footer-logo {
    width: 30px;
    height: 30px;
}

.logo-footer {
    font-family: "Belligia Demo";
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.39em;
    text-align: left;
    color: #156fd0;
    left: 0;
}


.gototop {
    position: fixed;
    bottom: 20px;
    padding: 10px;
    background-color: white;
    right: 25px;
    z-index: 99;
    outline: invert;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    border-radius: 4px;
}
